.container {
  display: flex;
}

$nav-width: 100px;

.nav {
  width: $nav-width;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #eee;
}

.main {
  margin-left: $nav-width;
  flex: 1;
}
